/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/01/2020, 14:46:41
    Author     : ReiDina
*/

#loteria { 
    width: 10;
    background-color: aqua;
       
}
#fondo {
    -fx-background-image: url("VentanaInicio.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}